{% extends "base.html" %}

{% block title %}Gerar QR Code{% endblock %}

{% block extra_js %}
<script src="/static/js/qrcode.js"></script>
{% endblock %}

{% block content %}
<div class="generator-container">
    <h2>Gerar QR Code</h2>
    
    <input type="text" id="cpf" placeholder="Digite o CPF (apenas números)" maxlength="11">
    <button onclick="gerarQRCode()" class="btn">
        <i class="fas fa-qrcode"></i> Gerar QR Code
    </button>
    
    <div id="qrcode-container">
        <img id="qrcode-img">
    </div>
    
    <div id="codigo-criptografado"></div>
</div>
{% endblock %}